<div class="container mt-5">
    <h1 class="row justify-content-center">Bienvenidos al chat!</h1>
<div class="text-center mb-4">
    <input id="chatbox">
</div>
<div class="text-center mb-4">
    <p id="messagelogs"></p>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/home.js"></script>